%form{:action => '/users/beta', :method => 'POST'}
  %label Email
  %input{:type => 'text', :name => 'email'}

  %label Password
  %input{:type => 'text', :name => 'password'}
  
  %input{:type => 'submit', :name => 'commit'}
